html {font-size: 11px;}



.main--div {
   text-align: center;
   background-color: rgb(253, 253, 205);
}

.card {
   display: inline-block;
   width: 320px;
   height: 480px;
   background-color: rgba(186, 218, 253, 0.5);
   text-align: center;
   border: 3px solid rgb(75, 45, 25);
   border-radius: 15px;
   margin-left: 30px;
   margin-top: 20px;
   vertical-align: top;
}

.card__right_position {
   margin-right: 0px;
}

 .card__picture {
   margin-top: 10px;
 }

 .card__title {
   margin-bottom: 5px;
   text-align: center;
   font-size: 2rem;
   color: rgb(159,85,44);
 }

 .card__specification {
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(255, 255, 140, 0.5);
    color:rgb(94, 65, 49);
    margin: 10px;
 }

 .card__price {
   font-size: 2rem;
   font-weight: 700;
   padding-left: 10px;
   text-align: center;
   color: rgb(159,85,44);
   vertical-align: bottom;
 }
